<div id="post">
  <h1>{{ page.title }}</h1>
  <p class="meta">
    {{ page.date | date_to_long_string }}
    {% if page.location %}{{ page.location }}{% endif %}
  </p>
  {{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<script src="https://giscus.app/client.js"
        data-repo="iandyh/iandyh.github.com"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMzYxOTE3"
        data-category="Announcements"
        data-category-id="DIC_kwDOADNMfc4Cqjhh"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
