/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 18px IBM Plex Serif, helvetica, arial, clean, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: #00a;
}

a:visited {
  color: #00a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 43em;
  margin: 3em auto 2em auto;
  line-height: 1.3em;
}

.title {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 24px;
}
.title a {
    text-decoration: none;
}
.site .nav {
    margin-bottom: 2em;
    font-size: 16px;
}

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
  }

  .site .footer {
    overflow: hidden
  }

  .site .footer ul {
    list-style-type: circle;
  }

  .site .footer ul li {
      float: left;
      margin-left: 2em;
      margin-top: 10px;
  }

  .site .footer a {
      color: #8085C1;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
    border-top: 1px solid #233;
    padding-top: 30px;
}

  /* standard */

  /*
  disable for now as code has already been styled
  */
  /* #post pre {

  } */

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  /* inline code */
  #post code {
    border: 1px solid #ddd;
    background-color: #2a2f3a;
    color:#dcdcdc; /* Light text */
    line-height: 1.5;
    white-space: pre-wrap;
    font-size: 0.80em;
    padding: 0.3em;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    border-radius: 8px;
  }

  #post pre code {
    display: block;
    background-color: #2a2f3a;
    color:#dcdcdc; /* Light text */
    overflow-x: auto;
    line-height: 1.5;
    white-space: pre-wrap;
    font-size: 0.80em;
    padding: 1em;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    border-radius: 8px;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
